<a href="https://colab.research.google.com/github/AhmedGamal2017/Hello-world-2/blob/master/Practical_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [2]:
# pip install pyspark
# importing libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession

## Build Spark Session

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [61]:
train_df = spark.read.option("header","true").csv('/content/train.csv')
test_df = spark.read.option("header","true").csv('/content/test.csv')

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [62]:
print(type(train_df))
print(type(test_df))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [63]:
train_df.show(n=5,truncate=False)

+-----------+--------+------+---------------------------------------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age|SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+---+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22 |1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38 |1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26 |0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |female|35 |1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                           |male  |35 |0    |0    |373450          |8.05   |null |S       |
+-----------+--------+------+---------------------------------------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [64]:
test_df.show(n=5,truncate=False)

+-----------+--------+------+---------------------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                             |Sex   |Age |SibSp|Parch|Ticket  |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------+------+----+-----+-----+--------+-------+-----+--------+
|1          |1       |1     |Goldenberg, Mr. Samuel L         |male  |49  |1    |0    |17453   |89.1042|C92  |C       |
|2          |0       |3     |Peduzzi, Mr. Joseph              |male  |null|0    |0    |A/5 2817|8.05   |null |S       |
|3          |1       |3     |Jalsevac, Mr. Ivan               |male  |29  |0    |0    |349240  |7.8958 |null |C       |
|4          |0       |1     |Millet, Mr. Francis Davis        |male  |65  |0    |0    |13509   |26.55  |E38  |S       |
|5          |1       |1     |Kenyon, Mrs. Frederick R (Marion)|female|null|1    |0    |17464   |51.8625|D21  |S       |
+-----------+--------+------+---------------------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [65]:
train_df.printSchema()
test_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [66]:
train_df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|                0|  A10|       C|
|    max|               99|                  1|                 3|van Melkebeke, Mr...|  male|                 9|                 8|                  6|         WE/P 5735|             93.5|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [67]:
test_df.describe().show()

+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|summary|       PassengerId|          Survived|            Pclass|                Name|   Sex|               Age|            SibSp|             Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|  count|               438|               438|               438|                 438|   438|               350|              438|               438|               438|              438|  104|     437|
|   mean|             219.5|0.3721461187214612|2.2831050228310503|                null|  null|30.855485714285713| 0.45662100456621| 0.365296803652968|228762.85970149253|32.04006803652967| null|    null|
| stddev|126.58396422928143|0.4839298099728147| 0.851563345160767|                null|  null|14.884232312749964|1.020023555036897|0.8139972722947301| 416628.4618395599|50.40455507146085| null|    null|
|    min|                 1|                 0|                 1|"Angle, Mrs. Will...|female|              0.42|                0|                 0|            110152|                0|  A10|       C|
|    max|                99|                 1|                 3|van Melkebeke, Mr...|  male|                 9|                8|                 6|         WE/P 5735|             93.5|   F4|       S|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [68]:
count_people = train_df.count()

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [69]:
 survived_people = train_df.groupBy("Survived").count()

**Display your result:**

In [82]:
survived_people = survived_people.select('count').collect()[1]

In [81]:
survived_people.asDict()['count']

342

**Can you display your answer in ratio form?(Hint: Use UDF.)**

In [73]:
survived_people.asDict()['count'] / count_people

0.3838383838383838

**Can you get the number of males and females?**

In [83]:
 sex = train_df.groupBy("Sex").count()

In [87]:
female = sex.select('count').collect()[0].asDict()['count']
male = sex.select('count').collect()[1].asDict()['count']
print("Male:",male)
print("Female:",female)

# sex.show()

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|female|       0|   81|
|female|       1|  233|
|  male|       1|  109|
|  male|       0|  468|
+------+--------+-----+

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column.)

In [90]:
survived_people_with_gender = train_df.groupBy("Sex","Survived").count()
# survived_people_with_gender.show()

In [93]:
survived_female = survived_people_with_gender.select('count').collect()[1].asDict()['count']
survived_male = survived_people_with_gender.select('count').collect()[2].asDict()['count']
death_female = survived_people_with_gender.select('count').collect()[0].asDict()['count']
death_male = survived_people_with_gender.select('count').collect()[3].asDict()['count']

In [94]:
print("Average Survived Male:",survived_male/(survived_male + death_male))
print("Average Survived Female:",survived_female/(survived_female + death_female))
print("Survived Male:",survived_male)
print("Survived Female:",survived_female)

Average Survived Male: 0.18890814558058924
Average Survived Female: 0.7420382165605095
Survived Male: 109
Survived Female: 233

**Create temporary view PySpark:**

In [96]:
train_df.createOrReplaceTempView("temp_view")
spark.sql("SELECT * FROM temp_view").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

**How many people survived, and how many didn't survive? By SQL:**

In [101]:
spark.sql("SELECT Survived,count(*) FROM temp_view group by Survived").show()

+--------+--------+
|Survived|count(1)|
+--------+--------+
|       0|     549|
|       1|     342|
+--------+--------+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column.)

**Can you do this via SQL?**

In [107]:
spark.sql("SELECT Sex,Survived,count(*) FROM temp_view group by Sex,Survived").show()

+------+--------+--------+
|   Sex|Survived|count(1)|
+------+--------+--------+
|female|       0|      81|
|female|       1|     233|
|  male|       1|     109|
|  male|       0|     468|
+------+--------+--------+

In [109]:
survived_people_with_gender_sql = spark.sql("SELECT Sex,Survived,count(*) FROM temp_view group by Sex,Survived")

In [110]:
survived_female_sql = survived_people_with_gender_sql.select('count(1)').collect()[1].asDict()['count(1)']
survived_male_sql = survived_people_with_gender_sql.select('count(1)').collect()[2].asDict()['count(1)']
death_female_sql = survived_people_with_gender_sql.select('count(1)').collect()[0].asDict()['count(1)']
death_male_sql = survived_people_with_gender_sql.select('count(1)').collect()[3].asDict()['count(1)']

In [113]:
print("Average Survived Male:",survived_male_sql/(survived_male_sql + death_male_sql))
print("Average Survived Female:",survived_female_sql/(survived_female_sql + death_female_sql))

Average Survived Male: 0.18890814558058924
Average Survived Female: 0.7420382165605095

**Display a ratio for p-class:**

In [112]:
spark.sql("SELECT Pclass,count(*) FROM temp_view group by Pclass").show()

+------+--------+
|Pclass|count(1)|
+------+--------+
|     3|     491|
|     1|     216|
|     2|     184|
+------+--------+

In [114]:
pclass = spark.sql("SELECT Pclass,count(*) FROM temp_view group by Pclass")

In [119]:
class1 = pclass.select('count(1)').collect()[1].asDict()['count(1)']
class2 = pclass.select('count(1)').collect()[2].asDict()['count(1)']
class3 = pclass.select('count(1)').collect()[0].asDict()['count(1)']

In [121]:
print('Class 1 ratio:',class1/count_people)
print('Class 2 ratio:',class2/count_people)
print('Class 3 ratio:',class3/count_people)

Class 1 ratio: 0.24242424242424243
Class 2 ratio: 0.20650953984287318
Class 3 ratio: 0.5510662177328844

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [123]:
all_data_df = train_df.union(test_df)

1329

**Display count:**

In [124]:
all_data_df.count()

1329

**Temporary view PySpark:**

In [125]:
all_data_df.createOrReplaceTempView("all_data_view")
spark.sql("SELECT * FROM all_data_view").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

**Can you define the number of null values in each column?**

In [128]:
from pyspark.sql.functions import isnan, when, count, col

all_data_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in all_data_df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [129]:
null_df = all_data_df[['Age','Cabin','Embarked']]

In [130]:
null_df.show()

+----+-----+--------+
| Age|Cabin|Embarked|
+----+-----+--------+
|  22| null|       S|
|  38|  C85|       C|
|  26| null|       S|
|  35| C123|       S|
|  35| null|       S|
|null| null|       Q|
|  54|  E46|       S|
|   2| null|       S|
|  27| null|       S|
|  14| null|       C|
|   4|   G6|       S|
|  58| C103|       S|
|  20| null|       S|
|  39| null|       S|
|  14| null|       S|
|  55| null|       S|
|   2| null|       Q|
|null| null|       S|
|  31| null|       S|
|null| null|       C|
+----+-----+--------+
only showing top 20 rows

## Preprocessing

**Can you show me the name column from your temporary table?**

In [132]:
spark.sql("SELECT Name FROM all_data_view").show(truncate=False)

+-------------------------------------------------------+
|Name                                                   |
+-------------------------------------------------------+
|Braund, Mr. Owen Harris                                |
|Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |
|Heikkinen, Miss. Laina                                 |
|Futrelle, Mrs. Jacques Heath (Lily May Peel)           |
|Allen, Mr. William Henry                               |
|Moran, Mr. James                                       |
|McCarthy, Mr. Timothy J                                |
|Palsson, Master. Gosta Leonard                         |
|Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |
|Nasser, Mrs. Nicholas (Adele Achem)                    |
|Sandstrom, Miss. Marguerite Rut                        |
|Bonnell, Miss. Elizabeth                               |
|Saundercock, Mr. William Henry                         |
|Andersson, Mr. Anders Johan                            |
|Vestrom, Miss. Hulda Amanda Adolfina                   |
|Hewlett, Mrs. (Mary D Kingcome)                        |
|Rice, Master. Eugene                                   |
|Williams, Mr. Charles Eugene                           |
|Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|
|Masselmani, Mrs. Fatima                                |
+-------------------------------------------------------+
only showing top 20 rows

**Run this code:**

In [140]:
from pyspark.sql.functions import regexp_extract
combined = all_data_df.withColumn('Title',regexp_extract(col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')

**Display the title and count "Title" column:**

In [144]:
spark.sql("SELECT Title,count(*) FROM combined group by Title").show(truncate=False)

+------+--------+
|Title |count(1)|
+------+--------+
|Miss  |257     |
|Master|56      |
|Mr    |786     |
|Mrs   |186     |
+------+--------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [145]:
spark.sql("SELECT Title,count(*) FROM combined group by Title having count(1)<15 ").show(truncate=False)

+--------+--------+
|Title   |count(1)|
+--------+--------+
|Don     |1       |
|Countess|2       |
|Col     |4       |
|Rev     |9       |
|Lady    |2       |
|Mme     |1       |
|Capt    |2       |
|Dr      |11      |
|Sir     |2       |
|Jonkheer|2       |
|Mlle    |4       |
|Major   |3       |
|Ms      |1       |
+--------+--------+

In [149]:
rare_df = spark.sql("SELECT Title,count(*) FROM combined group by Title having count(1)<15 ")

In [150]:
dict = {}
df = rare_df.toPandas()

for column in df.columns:
	dict[column] = df[column].values.tolist()

print(dict)

{'Title': ['Don', 'Countess', 'Col', 'Rev', 'Lady', 'Mme', 'Capt', 'Dr', 'Sir', 'Jonkheer', 'Mlle', 'Major', 'Ms'], 'count(1)': [1, 2, 4, 9, 2, 1, 2, 11, 2, 2, 4, 3, 1]}

In [151]:
dict['Title']

['Don',
 'Countess',
 'Col',
 'Rev',
 'Lady',
 'Mme',
 'Capt',
 'Dr',
 'Sir',
 'Jonkheer',
 'Mlle',
 'Major',
 'Ms']

In [173]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

@udf(returnType=StringType()) 
def to_rare(title):
  if dict['Title'].count(title)>0:
    return 'rare'
  else :
    return title

combined.withColumn("Title", to_rare(col("Title"))).createOrReplaceTempView('combined_rare')

In [174]:
spark.sql("SELECT Title,count(*) FROM combined_rare group by Title").show(truncate=False)

+------+--------+
|Title |count(1)|
+------+--------+
|rare  |44      |
|Miss  |257     |
|Master|56      |
|Mr    |786     |
|Mrs   |186     |
+------+--------+

**Run the function:**

In [179]:
@udf(returnType=StringType()) 
def impute_title(title):
    return titles_map[title]

**Apply the function on "Title" column using UDF:**

In [186]:
combined.withColumn('Title',impute_title(col('Title'))).createOrReplaceTempView('impute_title')

**Display "Title" from table and group by "Title" column:**

## **Preprocessing Age**

**Based on the age mean, you will fill in the missing age values:**

In [190]:
from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

df_stats = combined.select(_mean(col('Age')).alias('mean')).collect()

mean = df_stats[0]['mean']

30.079501879699244

**Fill missing age with age mean:**

In [191]:
combined.fillna(value=mean, subset=['Age'])

DataFrame[PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string, Title: string]

## **Preprocessing Embarked**

**Select Embarked, count them, order by count Desc, and save in grouped_Embarked variable:**

**Show groupped_Embarked:**

**Get the groupped_Embarked:**

**Fill missing values with grouped_Embarked:**

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

**Show the result:**

**Create the temporary view:**

**Select "Cabin" column, count Cabin column, Group by "Cabin" column, Order By count DESC**

**Fill missing values with "U":**

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is frequencyDesc.**

**StringIndexer(inputCol=None, outputCol=None)**

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

____________________________________________

**Use Pipline to fit and transform:**

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None) A feature transformer that merges multiple columns into a vector column.**

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [ ]:
o

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**